##############################
# IntelliJ IDEA
##############################

.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/httpRequests/

*.iml

##############################
# Java
##############################

*.class

##############################
# Maven
##############################

target/

##############################
# Build Output
##############################

out/

##############################
# Logs
##############################

*.log

##############################
# Environment
##############################

.env

##############################
# OS Files
##############################

.DS_Store
Thumbs.db
