##############################
# IntelliJ IDEA
##############################
.idea/
*.iml

##############################
# Java
##############################
*.class

##############################
# Maven
##############################
target/

##############################
# Build Output
##############################
out/

##############################
# Logs
##############################
*.log

##############################
# Environment
##############################
.env

##############################
# OS Files
##############################
.DS_Store
Thumbs.db
